@model IEnumerable<Questudo.Models.Instructor>

@{
    ViewData["Title"] = "Professores";
}

<h2>Professores</h2>

<p>
    <a asp-action="Create">Cadastrar novo professor</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Professor
                </th>
                <th>
                    Email
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstructorID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.InstructorID">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.InstructorID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
